body {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches', cursive;
    margin: 0;
    padding: 0;
    background-color: #D3E1EF;
}


#canvas {
    background-color: #370077;
    height: 600px;
    width: 600px;
    border-radius: 10px;
    justify-self: center;
}

img{
    height: 50px;
    width: 50px;
    display: none;
}